@{
    ViewData["Title"] = ViewData["Title1"];
}

<div class="text-center">
    <h1 class="display-4">Welcome1</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core-Production1 Envoirment</a>.</p>
    <Appreciate person-name="Aayushman"></Appreciate>
</div>
